/* font-family: 'Oswald', sans-serif; */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff5ee;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h1 {
    font-size: 60px;
    margin: 20px;
}
/* ____________ CUADRADO ______________ */
.cuadrado {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    background-color: #E5150B;
    color: white;
    text-align: center;
    box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.69);
    border-radius: 20px;
}
.cuadrado h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.cuadrado label {
    font-size: 17px;
}
.cuadrado form input {
    width: 70%;
    margin: 10px auto;
    height: 25px;
    border-radius: 5px;
    border: none;

}
.cuadrado .botones {
    margin: 5px 0;
    display: flex;
    justify-content: center;  
}
.botones button {
    height: 40px;
    border-radius: 8px;
    border: none;
    box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.69);
    margin: 0 5px;
    background-color: #536773;
    color: white;
    font-size: 13px;
}
/* ____________ TRIANGULO ______________ */
.triangulo {
    width: 80%;
    padding: 10px;
    margin:30px auto;
    background-color: #E5150B;
    color: white;
    text-align: center;
    box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.69);
    border-radius: 20px;
}
.inputs {
    display: block;
    margin: 10px 0;
}
.inputs input {
    width: 70%;
    margin: 10px auto;
    height: 25px;
    border-radius: 5px;
    border: none;
}
/* ____________ RECTANGULO ______________ */
.rectangulo {
    width: 80%;
    padding: 10px;
    padding-bottom: 30px;
    margin:30px auto;
    background-color: #E5150B;
    color: white;
    text-align: center;
    box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.69);
    border-radius: 20px;
}
/* ____________ FOOTER ______________ */
footer {
    width: 100%;
    background-color: black;
    padding: 8px 0;
}
footer p {
    font-size: 15px;
    color: white;
    text-align: center;
}